{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}
    {{ $.Scratch.Set "title" .Site.Params.homeTitle }}
  {{ else }}
    {{ $.Scratch.Set "title" .Site.Title }}
  {{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
  <header>
    {{ partial "nav.html" . }}
	<link href="{{ .Site.BaseURL }}/highlight/monokai.min.css" rel="stylesheet">
  <script src="{{ .Site.BaseURL }}/highlight/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0b9c07370221030033eb830aaf9a96b5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}
