{{ define "main" }}
  <div class="container" id="dowebok" role="main">
    
    {{ $title := $.Scratch.Get "title" }}
    <div class="intro-header">
      <div class="container">
        <div class="{{ .Type }}-heading">
				  {{ if .IsHome }}
		  			<p hidden>世上本没有垃圾，</br>
有的，只是放错地方的金子……</br></p>
		  {{else}}
          {{ if eq .Type "list" }}
            <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
          {{ else }}
            <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
          {{ end }}
          {{ if eq .Type "post" }}
            {{ partial "postmeta.html" . }}
          {{ end }}
		  {{ end}}
        </div>
      </div>
    </div>

    
    <article class="article" id="viewerId"  class="blog-post">
      {{ partial "toc.html" . }}

      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
          {{ end }}
		  
        </div>
      {{ end }}
    </article>
	  <div id="vcomments"></div>
    <div>
      <a href="javascript:;" id="return_top" title="回到顶部"><img
          width="20px" height="20px"  style="position: absolute;left: 25%;top: 25%;" src="{{ .Site.BaseURL }}images/back-to-top.svg"></a>
    </div>
    {{ if and (gt .WordCount 400) (.Param "backtotop") }}
      {{ partial "backtotop.html" . }}
      <button onclick="topFunction()" id="backtotopButton">
        <i class="fa fa-angle-up"></i>
      </button>
    {{ end }}
  </div>
  <script type="text/javascript">
    var viewer = new Viewer(document.getElementById('viewerId'), {
    navbar: false,
    toolbar: false
  });

</script>
{{ end }}
